section {
  display: flex;
  justify-content: center;
}
form {
  width: 380px;
  border:  1px solid;
  display: flex;
  flex-direction: column;
}
.two-columns {
  display: flex;
}
.two-columns > * {
  width: 41.5%;
}
input,
label {

}
input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 5px;
}
button {
  margin-top: 10px;
  width: 100%;
}
