section {
  width: 380px;
}
input,
label {
  display: block;
  width: 90%;
}
input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  margin-top: 5px;
}
button {
  margin-top: 10px;
  width: 100%;
}
